@model Message
@{
    ViewData["Title"] = "تماس با ما";
}
@section Head{
    <meta name="description" content="وب سایت های شاپ برترین وب سایت در زمینه فیلم و سریال - @ViewData["Title"]" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
}

<div class="row">
    <div class="md my-5">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<form asp-controller="Messages" asp-action="Create">
    <div class="form-group row">
        <div class="col-md-6 text-right">
            <label asp-for="Name" class="form-label">@Html.DisplayNameFor(m => m.Name) :</label>
            <input asp-for="Name" class="form-control"  />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="col-md-6 text-right">
            <label asp-for="Email" class="form-label">@Html.DisplayNameFor(m => m.Email) :</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6 text-right">
            <label asp-for="Subject" class="form-label">@Html.DisplayNameFor(m => m.Subject) :</label>
            <input asp-for="Subject" class="form-control"  />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>

        <div class="col-md-6 text-right">
            <label asp-for="Body" class="form-label">@Html.DisplayNameFor(m => m.Body) :</label>
            <textarea asp-for="Body" class="form-control" rows="5" ></textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md text-right">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                ارسال پیام
            </button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-left",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>
    @if (TempData["MessageCreateStatus"] != null)
    {
        @if ((string)TempData["MessageCreateStatus"] == "OK")
        {
            <script>toastr["success"]("پیام مورد نظر با موفقیت ارسال گردید.", "های شاپ");</script>}
        else
        {
            <script>toastr["error"]("پیام مورد نظر ارسال نگردید، لطفاً مجدداً تلاش نمایید. <br> @TempData["MessageCreateStatus"].ToString()", "های شاپ");</script>}
    }

}