@model DigiMovie.Models.ViewModels.Home.IndexVM
@{
    ViewData["Title"] = "خانه";
}
@section Head{
    <meta name="description" content="وب سایت دیجی مووی برترین وب سایت در زمینه فیلم و سریال - @ViewData["Title"]" />
}

@if (!Model.Products.Any())
{
    <div class="alert alert-warning text-center">هیچ محصولی در فروشگاه ثبت نشده است.</div>
}
else
{
    <!--Products Carousel-->
    <div class="row justify-content-center">
        <div class="md w-100">
            <div class="alert alert-primary text-right mt-3">آخرین محصولات</div>
            <div id="car" class="carousel slide w-100 mx-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#car" data-slide-to="0" class="active"></li>
                    <li data-target="#car" data-slide-to="1"></li>
                    <li data-target="#car" data-slide-to="2"></li>
                    <li data-target="#car" data-slide-to="3"></li>
                    <li data-target="#car" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    @foreach (var item in Model.Products)
                    {
                        <div class="carousel-item">
                            <img class="d-block w-100" src="@item.ImagePath" title="@item.Title">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                                </h5>
                            </div>
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#car" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#car" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>

        </div>
    </div>
}

<hr />

@if (!Model.Categories.Any())
{
    <div class="alert alert-warning text-center">هیچ دسته بندی در فروشگاه ثبت نشده است.</div>
}
else
{
    <!--Categories Cards-->
    <div class="alert alert-danger text-right mt-3">دسته بندی ها</div>

    <div class="row justify-content-start mt-4">

        @foreach (var item in Model.Categories)
        {
            <div class="col-md-3 col-sm-6 mb-2">
                <div class="card bg-dark text-light text-center">
                    <img class="card-img-top" src="@item.ImagePath">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-controller="Categories" asp-action="RelatingProducts" asp-route-id="@item.Id" asp-route-cat="@item.Title">@item.Title</a>
                        </h5>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section Scripts {
    <script>
        //Make First Slide Active
        $('.carousel-item:first').addClass('active');
    </script>
}
