@model DigiMovie.Models.Product

@{
    ViewData["Title"] = "حذف محصول";
}
<br class="my-3" />
<h2 class="text-right">@ViewData["Title"] </h2>
<hr />

<table class="table table-bordered table-hover table-striped table-info text-center table-sm">
    <thead>
        <tr>
            <td colspan="2">آیا از حذف محصول زیر اطمینان دارید ؟</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>عنوان</td>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <td>آیا موجود است ؟</td>
            <td>
                @if (Model.IsExists)
                {
                    <text>بلی</text>
                }
                else
                {
                    <text>خیر</text>
                }
            </td>
        </tr>
        <tr>
            <td>تعداد موجود</td>
            <td>@Model.NumberInStock</td>
        </tr>
        <tr>
            <td>قیمت</td>
            <td>@Model.Price ریال</td>
        </tr>
        <tr>
            <td>توضیحات</td>
            <td>@Model.Specification </td>
        </tr>

    </tbody>
</table>
<form asp-action="DeleteDone">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="حذف نهایی" class="btn btn-danger" /> |
    <a asp-action="Index">بازگشت به صفحه اصلی</a>
</form>

