@model DigiMovie.Models.Product

@{
    ViewData["Title"] = "حذف محصول";
}
<br class="my-3" />
<h2 class="text-right">@ViewData["Title"] </h2>
<hr />

<table class="table table-bordered table-hover table-striped table-info text-center table-sm">
    <thead>
        <tr>
            <td colspan="2">آیا از حذف محصول زیر اطمینان دارید ؟</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="align-middle">@Html.DisplayNameFor(p => p.ImagePath)</td>
            <td><img src="@Model.ImagePath" alt="سایت دیجی مووی - @Model.Title" title="سایت دیجی مووی - @Model.Title" /></td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(p => p.Title)</td>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(p => p.IsExists)</td>
            <td>
                @if (Model.IsExists)
                {
                    <text>بلی</text>
                }
                else
                {
                    <text>خیر</text>
                }
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(p => p.NumberInStock)</td>
            <td>@Model.NumberInStock</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(p => p.Price)</td>
            <td>@Model.Price </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(p => p.Specification)</td>
            <td>@Model.Specification </td>
        </tr>

    </tbody>
</table>
<form asp-action="DeleteDone">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">
        <i class="fas fa-trash align-middle"></i>
        حذف نهایی
    </button>
    <a asp-action="Index" class="btn btn-outline-dark">
        <i class="fas fa-share align-middle"></i>
        بازگشت به لیست محصولات
    </a>
</form>

