@model DigiMovie.Models.Product

@{
    ViewData["Title"] = "ویرایش محصول";
}
<br class="my-3" />
<h2 class="text-right">@ViewData["Title"] </h2>
<hr />
<form asp-action="Edit">
    <input asp-for="Id" type="hidden" />

    <div class="form-group form-row">
        <div class="col-md-6 text-right">
            <label asp-for="Title" class="form-label">@Html.DisplayNameFor(p => p.Title) :</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-md-6 text-right">
            <label asp-for="Price" class="form-label">@Html.DisplayNameFor(p => p.Price) : </label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group form-row">
        <div class="col-md-6 text-right my-auto">
            <input asp-for="IsExists" class="form-check-input" />
            <label asp-for="IsExists" class="form-check-label pr-3">@Html.DisplayNameFor(p => p.IsExists)</label>
        </div>
        <div class="col-md-6 text-right">
            <label asp-for="NumberInStock" class="form-label">@Html.DisplayNameFor(p => p.NumberInStock) : </label>
            <input asp-for="NumberInStock" class="form-control" />
            <span asp-validation-for="NumberInStock" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group form-row">
        <div class="col-md text-right">
            <label asp-for="Specification" class="form-label">@Html.DisplayNameFor(p => p.Specification) : </label>
            <textarea asp-for="Specification" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Specification" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group form-row">
        <div class="col-md text-right">
            <button type="submit" class="btn btn-warning">
                <i class="fas fa-edit align-middle"></i>
                ویرایش محصول
            </button>
            <a asp-action="Index" class="btn btn-outline-dark">
                <i class="fas fa-share align-middle"></i>
                بازگشت به لیست محصولات
            </a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}












































@*@model DigiMovie.Models.Product

    @{
        ViewData["Title"] = "Edit";
    }

    <h2>Edit</h2>

    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Specification" class="control-label"></label>
                    <input asp-for="Specification" class="form-control" />
                    <span asp-validation-for="Specification" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsExists" /> @Html.DisplayNameFor(model => model.IsExists)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NumberInStock" class="control-label"></label>
                    <input asp-for="NumberInStock" class="form-control" />
                    <span asp-validation-for="NumberInStock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
