@model IEnumerable<Product>
@{
    ViewData["Title"] = "نمایش محصولات";
}

@section Head{ 
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
}
<br class="my-3" />
<h2 class="text-right">@ViewData["Title"] </h2>
<hr />
<div class="text-right">
    <a asp-action="Create" class="btn btn-success btn-lg">
        <i class="fas fa-plus align-middle"></i>
        افزودن محصول جدید
    </a>
</div>

<hr />
@if (!Model.Any())
{
    <div class="alert alert-warning text-center">هیچ محصولی در فروشگاه ثبت نشده است.</div>
}
else
{
    <table class="table table-bordered table-hover table-striped table-info text-center table-sm">
        <thead class="table-dark text-danger" style="font-size:large">
            <tr>
                <td>ردیف</td>
                <td>عنوان</td>
                <td>موجود</td>
                <td>تعداد موجود</td>
                <td>قیمت (ریال)</td>
                <td>جزییات</td>
                <td>ویرایش</td>
                <td>حذف</td>
            </tr>
        </thead>
        <tbody>
            @{ var i = 1;}
            @foreach (var product in Model)
            {
                <tr>
                    <td class="align-middle">@i</td>
                    <td class="align-middle">@product.Title</td>
                    <td class="align-middle">
                        @if (product.IsExists)
                        {
                            <text>بلی</text>
                        }
                        else
                        {
                            <text>خیر</text>
                        }
                    </td>
                    <td class="align-middle">@product.NumberInStock</td>
                    <td class="align-middle">@product.Price</td>
                    <td class="align-middle">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="nav-link text-info">
                            <i class="fas fa-2x fa-info-circle"></i>
                        </a>
                    </td>
                    <td class="align-middle">
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="nav-link text-warning">
                            <i class="fas fa-2x fa-edit"></i>
                        </a>
                    </td>
                    <td class="align-middle">
                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="nav-link text-danger">
                            <i class="fas fa-2x fa-trash"></i>
                        </a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>

}

<br class="my-3" />


@section Scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    @if (TempData["DeleteStatus"] != null)
    {
        @if ((bool)TempData["DeleteStatus"] == true)
        {
            <script>
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "10000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr["success"]("حذف محصول مورد نظر با موفقیت انجام گردید.", "دیجی مووی");
            </script>
        }
        else
        {
            <script>
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "10000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr["error"]("حذف محصول مورد نظر با موفقیت انجام گردید.", "دیجی مووی");
            </script>        }
    }



}