@model IEnumerable<Product>
@{
    ViewData["Title"] = "نمایش محصولات";
}

@section Head{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
}
<br class="my-3" />
<h2 class="text-right">@ViewData["Title"] </h2>
<hr />
<div class="search-bar">
    <input type="text" id="search" placeholder="جستجوی محصولات..." class="form-control" /><div id="suggest"></div>
</div>
<hr />
<div class="text-right">
    <a asp-action="Create" class="btn btn-success btn-lg">
        <i class="fas fa-plus align-middle"></i>
        افزودن محصول جدید
    </a>
</div>

<hr />
@if (!Model.Any())
{
    <div class="alert alert-warning text-center">هیچ محصولی در فروشگاه ثبت نشده است.</div>
}
else
{
    <table class="table table-bordered table-hover table-striped table-info text-center table-sm">
        <thead class="table-dark text-danger" style="font-size:large">
            <tr>
                <td>ردیف</td>
                <td>@Html.DisplayNameFor(p => p.Title)</td>
                <td>@Html.DisplayNameFor(p => p.IsExists)</td>
                <td>@Html.DisplayNameFor(p => p.NumberInStock)</td>
                <td>@Html.DisplayNameFor(p => p.Price)</td>
                <td>جزییات</td>
                <td>ویرایش</td>
                <td>حذف</td>
            </tr>
        </thead>
        <tbody>
            @{ var i = 1;}
            @foreach (var product in Model)
            {
                <tr>
                    <td class="align-middle">@i</td>
                    <td class="align-middle">@product.Title</td>
                    <td class="align-middle">
                        @if (product.IsExists)
                        {
                            <text>بلی</text>
                        }
                        else
                        {
                            <text>خیر</text>
                        }
                    </td>
                    <td class="align-middle">@product.NumberInStock</td>
                    <td class="align-middle">@product.Price</td>
                    <td class="align-middle">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="nav-link text-info">
                            <i class="fas fa-2x fa-info-circle"></i>
                        </a>
                    </td>
                    <td class="align-middle">
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="nav-link text-warning">
                            <i class="fas fa-2x fa-edit"></i>
                        </a>
                    </td>
                    <td class="align-middle">
                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="nav-link text-danger">
                            <i class="fas fa-2x fa-trash"></i>
                        </a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>

}
<br class="my-3" />
@section Scripts{

    <script>
        $(document).ready(function () {
            $('#search').on({
                'keyup': function (e) {
                    //check for minimum required length for search goes here
                    $.ajax({
                        method: 'get',
                        url: '/Products/Search',
                        data: { q: $(this).val() },
                        success: function (d) {
                            $('.search-bar #suggest').css('display', 'block').empty();
                            var suggestElement = $('.search-bar #suggest');
                            for (var i in d) {
                                suggestElement
                                    .append('<div class="suggest-item"><a href="/Products/Details/' + d[i].id + '">' + d[i].title + '</a></div>');
                            }
                        }
                    });
                }
                , 'focusout': function () {
                    $('.search-bar #suggest').slideUp(function () {
                        $(this).empty();
                    });
                }
            });
        });
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-left",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>
    @if (TempData["ProductDeleteStatus"] != null)
    {
        @if ((bool)TempData["ProductDeleteStatus"] == true)
        {
            <script>toastr["success"]("حذف محصول مورد نظر با موفقیت انجام گردید.", "دیجی مووی");</script>}
        else
        {
            <script>toastr["error"]("حذف محصول مورد نظر انجام نگردید، لطفاً مجدداً تلاش نمایید.", "دیجی مووی");</script>}
    }
    @if (TempData["ProductCreateStatus"] != null)
    {
        @if ((bool)TempData["ProductCreateStatus"] == true)
        {
            <script>toastr["success"]("افزودن محصول مورد نظر با موفقیت انجام گردید.", "دیجی مووی");</script>}
        else
        {
            <script>toastr["error"]("افزودن محصول مورد نظر انجام نگردید، لطفاً مجدداً تلاش نمایید.", "دیجی مووی");</script>}
    }
    @if (TempData["ProductEditStatus"] != null)
    {
        @if ((bool)TempData["ProductEditStatus"] == true)
        {
            <script>toastr["success"]("ویرایش محصول مورد نظر با موفقیت انجام گردید.", "دیجی مووی");</script>}
        else
        {
            <script>toastr["error"]("ویرایش محصول مورد نظر انجام نگردید، لطفاً مجدداً تلاش نمایید.", "دیجی مووی");</script>}
    }
}
