@model DigiMovie.Models.ViewModels.UserRoles.IndexVM
@inject Microsoft.AspNetCore.Identity.RoleManager<Microsoft.AspNetCore.Identity.IdentityRole> RoleManager

@{
    ViewData["Title"] = "مدیریت انتساب کاربران و نقش ها";
}

<br class="my-3" />
<h2 class="text-right">@ViewData["Title"] </h2>
<hr />
<div class="row">
    @if (ViewData["username"] != null)
    {
    <div class="col-md text-right">
        <div class="card-group" dir="ltr">
            <div class="card border-success" dir="rtl">
                <div class="card-header bg-success">
                    <h4 class="text-right">انتساب نقش به کاربر <span class="badge badge-primary">@ViewData["username"]</span></h4>
                </div>
                <div class="card-body">
                    <label for="roles" class="form-label">یک یا چند نقش را انتخاب نمایید :</label>
                    <form asp-action="AddUserToRole">
                        <div class="form-group">
                            <select name="roles" asp-items="RoleManager.Roles.Select(r=>new SelectListItem { Text=r.Name , Value=r.Name })" class="form-control" multiple>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-plus align-middle"></i>
                                افزودن
                            </button>
                        </div>
                        <input type="hidden" name="username" value="@ViewData["username"]" />
                    </form>
                </div>
            </div>

            <div class="card border-warning" dir="rtl">
                <div class="card-header bg-warning">
                    <h4 class="text-right">نقش های منتسب شده به کاربر <span class="badge badge-primary">@ViewData["username"]</span></h4>
                </div>
                <div class="card-body">
                    @if (!Model.Roles.Any())
                    {
                        <div class="alert alert-warning text-center">هیچ نقشی برای این کاربر ثبت نشده است.</div>
                    }
                    else
                    {
                        foreach (var item in Model.Roles)
                        {
                            <div class="alert alert-success alert-dismissible fade show">
                                @item
                                <button type="button" class="close bg-danger text-white" style="opacity:1" title="حذف انتساب" data-dismiss="alert" data-username="@ViewData["username"]" data-rolename="@item">
                                    <i class="fas fa-trash" style="font-size:small"></i>
                                </button>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <br />
        <a asp-controller="Users" asp-action="Index" class="btn btn-outline-dark">
            <i class="fas fa-share align-middle"></i>
            بازگشت به لیست کاربران
        </a>
    </div>
    }

    @if (ViewData["rolename"] != null)
    {
<div class="col-md text-right">
    <div class="card border-warning">
        <div class="card-header bg-warning">
            <h4 class="text-right">کاربران دارای نقش <span class="badge badge-primary">@ViewData["rolename"]</span></h4>
        </div>
        <div class="card-body">
            @if (!Model.Users.Any())
            {
                <div class="alert alert-warning text-center">هیچ کاربری دارای این نقش ثبت نشده است.</div>
            }
            else
            {
                foreach (var item in Model.Users)
                {
                    <div class="alert alert-success alert-dismissible fade show">
                        @item.FirstName @item.LastName [@item.UserName]
                        <button type="button" class="close bg-danger text-white" style="opacity:1" title="حذف انتساب" data-dismiss="alert" data-username="@item.UserName" data-rolename="@ViewData["rolename"]">
                            <i class="fas fa-trash" style="font-size:small"></i>
                        </button>
                    </div>
                }
            }
        </div>
    </div>
    <br />
    <a asp-controller="Roles" asp-action="Index" class="btn btn-outline-dark">
        <i class="fas fa-share align-middle"></i>
        بازگشت به لیست نقش ها
    </a>
</div>
    }
</div>

@section Scripts
{
    <script>
        $('body').on('click', 'button.close', function () {
            $.ajax({
                method: 'post',
                url: '/UserRoles/RemoveUserFromRole',
                data: {
                    username: $(this).data('username'),
                    rolename: $(this).data('rolename')
                },
                success: function (d) {

                }
            });
        })
    </script>
}