@page
@model ExternalLoginsModel
@{
    ViewData["Title"] = "Manage your external logins";
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
@if (Model.CurrentLogins?.Count > 0)
{
    <h4>ورودهای ثبت شده</h4>
    <table class="table">
        <tbody>
            @foreach (var login in Model.CurrentLogins)
            {
                <tr>
                    <td>@login.LoginProvider</td>
                    <td>
                        @if (Model.ShowRemoveButton)
                        {
                            <form id="remove-login" asp-page-handler="RemoveLogin" method="post">
                                <div>
                                    <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                    <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                    <button type="submit" class="btn btn-danger" title="حذف ورود @login.LoginProvider از حساب کاربری شما">
                                        <i class="fas fa-trash"></i>
                                        حذف
                                    </button>

                                </div>
                            </form>
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.OtherLogins?.Count > 0)
{
    <h4>افزودن سرویس دیگر جهت ورود</h4>
    <hr />
    <form id="link-login-form" asp-page-handler="LinkLogin" method="post" class="form-horizontal">
        <div id="socialLoginList">
            <p>
                @foreach (var provider in Model.OtherLogins)
                {
                    <button id="link-login-button" type="submit" class="btn btn-outline-info" name="provider" value="@provider.Name"
                            title="ورود از طریق حساب کاربری @provider.DisplayName ">
                        @provider.DisplayName
                        </button>
                    }
            </p>
        </div>
    </form>
}
