@model DigiMovie.Models.ViewModels.Categories.CreateEditVM

@{
    ViewData["Title"] = "ویرایش دسته بندی";
}
<br class="my-3" />
<h2 class="text-right">@ViewData["Title"] </h2>
<hr />
<form asp-action="Edit" enctype="multipart/form-data" id="mainForm">
    <div class="form-group form-row">
        <div class="col-md-6 text-right">
            <label asp-for="Category.Title" class="form-label">@Html.DisplayNameFor(m => m.Category.Title) :</label>
            <input asp-for="Category.Title" class="form-control" />
            <span asp-validation-for="Category.Title" class="text-danger"></span>
        </div>
        <div class="col-md-6 text-right">
            <label for="image" class="form-label">@Html.DisplayNameFor(m => m.Category.ImagePath) : </label>
            <br />
            <img src="@Model.Category.ImagePath" alt="سایت دیجی مووی - @Model.Category.Title" title="سایت دیجی مووی - @Model.Category.Title" width="300" />
            <hr />
            <input type="file" class="form-control-file" name="image" id="image" />
            <span id="imageValidationMessage" class="text-danger d-none"></span>
            <ul class="text-muted text-right mt-2">
                <li>اگر قصد ندارید @Html.DisplayNameFor(p => p.Category.ImagePath) را تغییر دهید، فیلد بالا را خالی بگذارید.</li>
                <li>@Html.DisplayNameFor(p => p.Category.ImagePath) می بایست حداکثر 1 مگابایت باشد.</li>
                <li>@Html.DisplayNameFor(p => p.Category.ImagePath) می بایست یکی از از فرمت های jpg یا gif یا png باشد.</li>
            </ul>
        </div>
    </div>
    <div class="form-group form-row">
        <div class="col-md text-right">
            <label asp-for="Category.Description" class="form-label">@Html.DisplayNameFor(m => m.Category.Description) : </label>
            <textarea asp-for="Category.Description" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Category.Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group form-row">
        <div class="col-md text-right">
            <input asp-for="Category.Id" type="hidden" />
            <input asp-for="Category.ImagePath" type="hidden" />
            <button type="submit" class="btn btn-warning">
                <i class="fas fa-edit align-middle"></i>
                ویرایش دسته بندی
            </button>
            <a asp-action="Index" class="btn btn-outline-dark">
                <i class="fas fa-share align-middle"></i>
                بازگشت به لیست دسته بندی ها
            </a>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //Client Side Validation For Category Image
        $('#mainForm').submit(function (e) {
            var image = $('#image').prop('files')[0];
            if (image) {
                if (image.size < 1048576) {
                    if (image.type == 'image/png' || image.type == 'image/gif' || image.type == 'image/jpeg' || image.type == 'image/jpg') {
                        return true;
                    }
                    else {
                        $('#imageValidationMessage')
                            .removeClass('d-none')
                            .text('عکس انتخاب شده برای محصول در قالب مجاز نمی باشد.');
                        e.preventDefault();
                    }
                }
                else {
                    $('#imageValidationMessage')
                        .removeClass('d-none')
                        .text('عکس انتخاب شده برای محصول بزرگتر از 1 مگابایت می باشد.');
                    e.preventDefault();
                }
            }
            return true;
        });
    </script>
}
