@model IEnumerable<Message>
@{
    ViewData["Title"] = "نمایش پیام ها";
}
@section Head{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

}
<br class="my-3" />
<h2 class="text-right">@ViewData["Title"] </h2>
<hr />
@if (!Model.Any())
{
    <div class="alert alert-warning text-center">هیچ پیامی در فروشگاه ثبت نشده است.</div>
}
else
{
    <table class="table table-bordered table-hover table-striped table-info text-center table-sm">
        <thead class="table-dark text-danger" style="font-size:large">
            <tr>
                <td>ردیف</td>
                <td>@Html.DisplayNameFor(m => m.IsStarred)</td>
                <td>@Html.DisplayNameFor(m => m.IsRead)</td>
                <td>@Html.DisplayNameFor(m => m.Name)</td>
                <td>@Html.DisplayNameFor(m => m.Email)</td>
                <td>@Html.DisplayNameFor(m => m.Subject)</td>
                <td>@Html.DisplayNameFor(m => m.RegisteredTime)</td>
                <td>جزییات</td>
                <td>حذف</td>
            </tr>
        </thead>
        <tbody>
            @{ var i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">@i</td>

                    <td class="align-middle">
                        @if (item.IsStarred)
                        {<a href="javascript:void(0)" data-id="@item.Id" data-change-code="0"><i class="fas fa-2x fa-star text-warning" title="حذف ستاره"></i></a>}
                        else
                        {<a href="javascript:void(0)" data-id="@item.Id" data-change-code="1"><i class="far fa-2x fa-star text-warning" title="ستاره دار کردن"></i></a>}
                    </td>

                    <td class="align-middle">
                        @if (item.IsRead)
                        {<a href="javascript:void(0)" data-id="@item.Id" data-change-code="2"><i class="far fa-2x fa-envelope-open text-secondary" title="علامت به عنوان خوانده نشده"></i></a>}
                        else
                        {<a href="javascript:void(0)" data-id="@item.Id" data-change-code="3"><i class="far fa-2x fa-envelope text-secondary" title="علامت به عنوان خوانده شده"></i></a>}
                    </td>

                    <td class="align-middle">@item.Name</td>
                    <td class="align-middle">
                        <a href="mailto:@item.Email" title="پاسخ به این پیام">@item.Email</a>
                    </td>
                    <td class="align-middle">@item.Subject</td>
                    <td class="align-middle">@item.RegisteredTime.ToPersianDateTime()</td>
                    <td class="align-middle">
                        <a asp-action="Details" asp-route-id="@item.Id" class="nav-link text-info">
                            <i class="fas fa-2x fa-info-circle"></i>
                        </a>
                    </td>
                    <td class="align-middle">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="nav-link text-danger">
                            <i class="fas fa-2x fa-trash"></i>
                        </a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>

}
@section Scripts {

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-left",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>
    @if (TempData["MessageDeleteStatus"] != null)
    {
        @if ((string)TempData["MessageDeleteStatus"] == "OK")
        {
            <script>toastr["success"]("پیام مورد نظر با موفقیت حذف گردید.", "دیجی مووی");</script>}
        else
        {
            <script>toastr["error"]("پیام مورد نظر حذف نگردید، لطفاً مجدداً تلاش نمایید. <br> @TempData["MessageDeleteStatus"].ToString()", "دیجی مووی");</script>}
    }

    <script>

        $('a[data-change-code]').click(function () {

            var changeElement = $(this);
            var changeType = changeElement.attr('data-change-code');
            $.ajax({
                method: 'get',
                url: '/Messages/ChangeStatus',
                data: { id: changeElement.attr('data-id'), changeCode: changeType },
                success: function () {
                    switch (changeType) {
                        case '0':
                            changeElement
                                .attr('data-change-code', 1)
                                .empty()
                                .html('<i class="far fa-2x fa-star text-warning" title="ستاره دار کردن"></i>');
                            break;
                        case '1':
                            changeElement
                                .attr('data-change-code', 0)
                                .empty()
                                .html('<i class="fas fa-2x fa-star text-warning" title="حذف ستاره"></i>');
                            break;
                        case '2':
                            changeElement
                                .attr('data-change-code', 3)
                                .empty()
                                .html('<i class="far fa-2x fa-envelope text-secondary" title="علامت به عنوان خوانده شده"></i>');
                            break;
                        case '3':
                            changeElement
                                .attr('data-change-code', 2)
                                .empty()
                                .html('<i class="far fa-2x fa-envelope-open text-secondary" title="علامت به عنوان خوانده نشده"></i>');
                            break;
                    }
                }
            });
        });
    </script>
}