@using HiShop.Extensions
@model HiShop.Areas.Identity.Data.ApplicationUser
@{
    ViewData["Title"] = "نمایش جزئیات کاربر";
}
<br class="my-3" />
<h2 class="text-right">@ViewData["Title"] </h2>
<hr />
<table class="table table-bordered table-striped text-center table-info" style="table-layout:fixed">
    <tbody>
        <tr>
            <td colspan="5" class="bg-dark text-white"><h4>اطلاعات کاربری</h4></td>
        </tr>
        <tr class="table-danger font-weight-bold">
            <td>نام کاربری</td>
            <td>پست الکترونیکی</td>
            <td>تایید پست الکترونیکی</td>
            <td>شماره تلفن</td>
            <td>تایید شماره تلفن</td>
        </tr>
        <tr>
            <td>@Model.UserName</td>
            <td>@Model.Email</td>
            <td>@Html.YesOrNo(Model.EmailConfirmed)</td>
            <td>@Model.PhoneNumber</td>
            <td>@Html.YesOrNo(Model.PhoneNumberConfirmed)</td>
        </tr>
        <tr class="table-danger font-weight-bold">
            <td>نوع کاربری</td>
            <td>زمان ثبت نام</td>
            <td>احراز هویت دو مرحله ای</td>
            <td>تعداد دسترسی های اشتباه</td>
            <td>زمان پایان قفل کاربر</td>
        </tr>
        <tr>
            <td>@(Model.PasswordHash != null ? "محلی" : "خارجی")</td>
            <td>@Model.RegisteredDateTime.ToPersianDateTimeString()</td>
            <td>@Html.YesOrNo(Model.TwoFactorEnabled)</td>
            <td>@Model.AccessFailedCount</td>
            <td>@Model.LockoutEnd</td>
        </tr>
        @if (Model.PasswordHash != null)
        {
            <tr>
                <td colspan="5" class="bg-dark text-white"><h4>اطلاعات شخصی</h4></td>
            </tr>
            <tr class="table-danger font-weight-bold">
                <td>تصویر نمایه</td>
                <td>نام</td>
                <td>نام خانوادگی</td>
                <td>تاریخ تولد</td>
                <td>جنسیت</td>
            </tr>
            <tr>
                <td>
                    <img src="@Model.ProfileImagePath" alt="سایت های شاپ - @Model.FirstName @Model.LastName"
                         title="سایت های شاپ - @Model.FirstName @Model.LastName" width="50" height="50" />
                </td>
                <td>@Model.FirstName</td>
                <td>@Model.LastName</td>
                <td>@Model.BirthDate.ToPersianDateString()</td>
                <td>@(Model.IsMale ? "مرد" : "زن")</td>
            </tr>
        }
    </tbody>
</table>
<br />

<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">
    <i class="fas fa-trash align-middle"></i>
    حذف این کاربر
</a>
<a asp-action="Index" class="btn btn-outline-dark">
    <i class="fas fa-share align-middle"></i>
    بازگشت به لیست کاربران
</a>